.table-wrapper {
  margin: 10px;
}

.grid {
  display: grid;
  margin: 10px;
  grid-gap: 10px;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, minmax(100px, 1fr))
  }
}

.grid__item {
  border: 1px solid black;
}