.grid {
  display: grid;
  grid-gap: 10px;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, minmax(100px, 1fr))
  }
}

.grid__item {
  border: 1px solid black;
}

.ellipsis {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  white-space: nowrap;
}